# **Data Types and Structures**

Q1 - What are data structures, and why are they important?

Ans - Data structures are organized ways to store and manipulate data efficiently. They are crucial because they allow programmers to perform operations like searching, inserting, and deleting data efficiently, depending on the problem requirements.

Q2 - Explain the difference between mutable and immutable data types with examples.

Ans - Mutable: Objects whose state can be changed after creation. E.g., Lists: l = [1, 2, 3] (we can modify l).

Immutable: Objects whose state cannot be changed after creation. E.g., Tuples: t = (1, 2, 3) (elements cannot be changed).

Q3 - What are the main differences between lists and tuples in Python?

Ans - Lists are mutable, while tuples are immutable once defined and cannot be edited.
Lists have dynamic memory usage, while tuples are faster and use less memory.

Q4- Describe how dictionaries store data.

Ans - Dictionaries store data in key-value pairs using a hashing mechanism to map keys to values.

Q5- Why might you use a set instead of a list in Python?

Ans - Sets are used for uniqueness because they automatically remove duplicate values and provide faster membership checks.

Q6- What is a string in Python, and how is it different from a list?

Ans- Strings are immutable sequences of characters, while lists are mutable and can contain various data types.

Q7- How do tuples ensure data integrity in Python?

Ans- Tuples are immutable, so once created, their values cannot be altered, ensuring the integrity of data.

Q8-What is a hash table, and how does it relate to dictionaries in Python?

Ans- A hash table is a data structure that maps keys to values using a hashing function. In Python, dictionaries are implemented using hash tables.

Q9- Can lists contain different data types in Python?

Ans- Yes, lists can hold multiple data types,
e.g., my_list = [1, 'apple', 3.14].

Q10- Explain why strings are immutable in Python.

Ans- Strings are immutable for performance optimization, memory efficiency, and security purposes.

Q11-What advantages do dictionaries offer over lists for certain tasks?

Ans- Dictionaries have key- value pairs which allow fast key-based access, which is more efficient than searching through lists.

Q12- Describe a scenario where using a tuple would be preferable over a list.

Ans-When data integrity is critical, such as representing fixed coordinates (x, y) or constant configurations.

Q13- How do sets handle duplicate values in Python?

Ans- Sets automatically remove duplicate values, ensuring only unique elements are stored.

Q14- How do sets handle duplicate values in Python?

Ans- Sets automatically remove duplicate values, ensuring only unique elements are stored.

Q15- Can you modify the elements of a tuple? Explain why or why not.

Ans- No, tuples are immutable, so their elements cannot be changed after creation.

Q16- What is a nested dictionary, and give an example of its use case.

Ans- A dictionary containing other dictionaries.

In [ ]:
data = {"student1": {"name": "Alice", "age": 20}, "student2": {"name": "Bob", "age": 22}}

Q17 - Describe the time complexity of accessing elements in a dictionary.

Ans- Accessing elements in a dictionary has an average time complexity of O(1) due to hashing.

Q18- In what situations are lists preferred over dictionaries?

As- When maintaining order or when the data does not need to be key-value pairs.

Q19- Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans- Dictionaries use hashing, which does not preserve order. Data retrieval relies on keys, not position.

Q20 - Explain the difference between a list and a dictionary in terms of data retrieval.

Ans- Lists use indexing (positions) for retrieval, while dictionaries use keys.

# **Practical Questions**

Q1 -Create a string with your name and print it.

In [1]:
name = "Piyush"
print(name)

Piyush

Q2 - Find the length of the string "Hello World".

In [2]:
a="Hello World"
len(a)

11

Q3- Slice the first 3 characters from the string "Python Programming".

In [3]:
str = "Python Programming"
print(str[0:3])

Pyt

Q4 - Convert the string "hello" to uppercase.

In [5]:
a="hello"
print(a.upper())

HELLO

Q5 - Replace the word "apple" with "orange" in the string "I like apple".

In [6]:
a = "I like apple"
print(a.replace("apple", "orange"))

I like orange

Q6 - Create a list with numbers 1 to 5 and print it.

In [7]:
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

Q7 - Append the number 10 to the list [1, 2, 3, 4].

In [8]:
num_list=[1,2,3,4]
num_list.append(10)
print(num_list)

[1, 2, 3, 4, 10]

Q8 - Remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
list1 = [1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

Q10 - Reverse the list [10, 20, 30, 40, 50]

In [11]:
list1 = [10,20,30,40,50]
print(list1[::-1])

[50, 40, 30, 20, 10]

Q11 - Create a tuple with the elements 10, 20, 30 and print it.

In [12]:
tup1 = (10,20,30)
print(tup1)

(10, 20, 30)

Q12 - Access the first element of the tuple ('apple', 'banana', 'cherry').

In [13]:
tup1 = ('apple', 'banana', 'cherry')
print(tup1[0])

apple

Q13 - Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [14]:
tup1 = (1,2,3,2,4,2)
print(tup1.count(2))

3

Q14 - Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [15]:
tup1 = ('dog', 'cat', 'rabbit')
print(tup1.index('cat'))

1

Q15 - Check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [16]:
tup1 = ('apple', 'orange', 'banana')
print('banana' in tup1)

True

Q16 - Create a set with the elements 1, 2, 3, 4, 5 and print it.

In [17]:
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

Q17 - Add the element 6 to the set {1, 2, 3, 4}

In [18]:
set1 = {1,2,3,4}
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}